.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
}
.float-center{
    text-align: center !important;
}
.form-radio{
    padding-right: 40px!important;
}