mat-radio-button#areaU {
    margin-left: 18px;
}
.mat-form-field {
    width: 100%;
  }
  mat-radio-button#mat-radio-3 {
    margin-left: 19px;
}
mat-radio-button#mat-radio-6 {
    margin-left: 18px;
}
mat-radio-button#mat-radio-9 {
    margin-left: 20px;
}
.viewbottom{
    padding-bottom: 180px;
  }