<div class="light_grey_bg" id="mySidenav1">
  <div class="col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12 col-xxl-12 pt-4">
    <nav class="sidebar sidebar-offcanvas pe-3 " id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" routerLink="/ESS-Dashboard" aria-expanded="false"
            aria-controls="tables">
            <i class="menu-icon mdi mdi-table"></i>
            <mat-icon class="menu-icon me-1">assessment</mat-icon>
            <span class="menu-title">Dashboard</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic"
            routerLink="/Ess-Req">
            <i class="menu-icon mdi mdi-floor-plan"></i>
            <mat-icon class="menu-icon me-1">assessment</mat-icon>
            <span class="menu-title">My Request</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
          <!-- <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Personal Information</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Nominee Update</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Date Type Update</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Other Number Update</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Account Number Update</a></li>
                  
                </ul>
              </div> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#Tax" aria-expanded="false" aria-controls="charts"
            routerLink="/emp-gendetail">
            <i class="menu-icon mdi mdi-chart-line"></i>
            <mat-icon class="menu-icon me-1">assessment</mat-icon>
            <span class="menu-title">Employee Master</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
          <!-- <div class="collapse" id="Tax">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Demo 1</a></li>
                </ul>
              </div> -->
        </li>


        <li class="nav-item">
          <a class="nav-link" routerLink="/employe_registration" aria-expanded="false" aria-controls="form-elements">
            <i class="menu-icon mdi mdi-card-text-outline"></i>
            <mat-icon class="menu-icon me-1">assessment</mat-icon>
            <span class="menu-title">Employee Registration</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#EMPDetail" aria-expanded="false" aria-controls="ui-basic">
            <i class="menu-icon mdi mdi-card-text-outline"></i>
            <mat-icon class="menu-icon me-1">assessment</mat-icon>
            <span class="menu-title"> Employee Details</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
          <div class="collapse" id="EMPDetail">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" routerLink="/employee-details">Employee Personal Details</a>
              </li>
              <li class="nav-item"> <a class="nav-link" routerLink="/employeeIdentification">Employee Identification</a>
              </li>
              <li class="nav-item"> <a class="nav-link" routerLink="/EmployeeService">Employee Service</a></li>
              <li class="nav-item"> <a class="nav-link" routerLink="/address">Address</a></li>
              <li class="nav-item"> <a class="nav-link" routerLink="/familyDetails">Family Details</a></li>
              <li class="nav-item"> <a class="nav-link" routerLink="/bank-details">Bank-details</a></li>
              <li class="nav-item"> <a class="nav-link" routerLink="/pay-entitlement">Pay Entitlement</a></li>
              <li class="nav-item"> <a class="nav-link" routerLink="/document">document</a></li>
              <li class="nav-item"> <a class="nav-link" routerLink="/EmpDate">Employee Date</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false"
            aria-controls="form-elements">
            <i class="menu-icon mdi mdi-card-text-outline"></i>
            <mat-icon class="menu-icon me-1">assessment</mat-icon>
            <span class="menu-title">Pay & Allowance </span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
          <div class="collapse" id="form-elements">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">CCA Allowance</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">HRA Allowance</a></li>
              <!-- <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Date Type Update</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Other Number Update</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Account Number Update</a></li> -->

            </ul>
          </div>

        </li>

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#leaves" aria-expanded="false" aria-controls="tables">
            <i class="menu-icon mdi mdi-table"></i>
            <mat-icon class="menu-icon me-1">assessment</mat-icon>
            <span class="menu-title">Leaves</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
          <div class="collapse" id="leaves">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Demo1</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#persInfo" aria-expanded="false" aria-controls="tables">
            <i class="menu-icon mdi mdi-table"></i>
            <mat-icon class="menu-icon me-1">assessment</mat-icon>
            <span class="menu-title">Personal Information</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
          <div class="collapse" id="persInfo">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Demo1</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#deduct" aria-expanded="false" aria-controls="tables">
            <i class="menu-icon mdi mdi-table"></i>
            <mat-icon class="menu-icon me-1">assessment</mat-icon>
            <span class="menu-title">Deduction</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
          <div class="collapse" id="deduct">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Demo1</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#loans" aria-expanded="false" aria-controls="tables">
            <i class="menu-icon mdi mdi-table"></i>
            <mat-icon class="menu-icon me-1">assessment</mat-icon>
            <span class="menu-title">Loans</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
          <div class="collapse" id="loans">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Demo1</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#AdvReq" aria-expanded="false" aria-controls="tables">
            <i class="menu-icon mdi mdi-table"></i>
            <mat-icon class="menu-icon me-1">assessment</mat-icon>
            <span class="menu-title">Advance Request</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
          <div class="collapse" id="AdvReq">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Demo1</a></li>
            </ul>
          </div>
        </li>



      </ul>
      <a class="closebtn d-lg-none" (click)="closeMenu()">&times;</a>
    </nav>

  </div>
</div>