<div class="content-wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 d-none d-sm-block p-0">
                <app-sidemenu class="sticky-sidemenu"></app-sidemenu>
            </div>
            <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">

                <div class="row d-flex align-item-center mt-3">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <nav _ngcontent-usv-c162="" aria-label="breadcrumb">
                            <ol _ngcontent-usv-c162="" class="breadcrumb">
                                <li _ngcontent-usv-c162="" class="breadcrumb-item"><a>Landing
                                    Page</a> </li>
                            <li _ngcontent-usv-c162="" class="breadcrumb-item"> <a routerLink="/Ess-Req">My
                                    Request</a> </li>
                                <li _ngcontent-usv-c162="" aria-current="Inbox" aria-label="Current Page"
                                    class="breadcrumb-item active">
                                    Employee's Address</li>
                            </ol>

                        </nav>
                    </div>
                    <!-- <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 py-2">
                        <button class="btn btn-primary w-100" routerLink="/ESS-Dashboard" mat-raised-button color="primary">Back To Dashboard</button>
                    </div>     -->
                </div>
                <app-username></app-username>
                <section class="content viewbottom">
                    <div class="light-blue-bg p-4">
                        <fieldset class="p-3">
                            <legend class="mb-3">Employee's Service Details</legend>
                            <form [formGroup]="updatedate" (ngSubmit)="onSubmit()">
                                <div class="row mt-2">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Service Date Type</mat-label>
                                            <select matNativeControl required formControlName="type" id="type" (change)="getupdatedate($event)">
                                                <option *ngFor="let mst of DateType" value={{mst.DATE_TYPE_ID}}>
                                                    {{mst.DATE_TYPES}} </option>
                                            </select>
                                            <mat-hint *ngIf="submitted && updatedate.controls['type'].errors"
                                                class="text-danger">
                                                <div *ngIf="submitted && updatedate.controls['type'].errors['pattern']">
                                                    Service Date Type is Mandatory
                                                </div>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Service Date</mat-label>
                                            <input matInput [matDatepicker]="picker" (click)="picker.open()"
                                                (focus)="picker.open()" formControlName="date" name="date"
                                                autocomplete="off" [max]="getToday()" readonly="" required>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                            <mat-hint *ngIf="submitted && updatedate.controls['date'].errors"
                                                class="text-danger">
                                                <div
                                                    *ngIf="submitted && updatedate.controls['date'].errors['required']">
                                                    Service Date is Mandatory
                                                </div>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-1 choosefile">
                                        <div (click)="uploadFile.click()">
                                            <button class="btn btn-secondary ms-2" mat-raised-button color="secondary">Choose File</button>
                                            <input #uploadFile (change)="selectFile($event)" maxFileSize="50000"  formControlName="file" type='file' style="display:none"/> 
                                            <mat-label class="ms-2">{{selectedFiles}}</mat-label>
                                         </div>
                                        
                                            <!-- <div class="custom-file">
                                                <input type="file" class="form-control custom-file-input" multiple
                                                    id="file" (change)="onFileChange($event)" maxFileSize="50000"
                                                    formControlName="file">
                                            </div> -->
                                        <label><span class="text-red"> <b>Note :- </b> File extension must be pdf and file size
                                                must be upto 5MB.</span> </label>
                                    </div>
                                    <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-1 choosefile">
                                                        <div class="rounded border p-22 bg-white">
                                                              <div class="custom-file">
                                                              <input type="file" class="custom-file-input" multiple 
                                                              id="file" (change)="onFileChange($event)" maxFileSize="50000"  formControlName="file" >
                                                            </div>
                                                        </div>
                                                        <label><span class="text-red"> <b>Note :- </b> File extension .pdf and file size is less than 5MB.</span> </label>
                                                        </div> -->

                                </div>

                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-primary" mat-raised-button color="primary">Save</button>
                                    <button class="btn btn-secondary ms-2" mat-raised-button color="warn" type="button"
                                        routerLink="/ESS-Req">Back</button>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                                        <div style="overflow-x:auto; width: 100%; display: block;">
                                                            <table class="table table-striped">
                                                                <thead class="thead-primary">
                                                                    <tr>
                                                                        <th>Sr. No.</th>
                                                                        <th>Req. ID</th>
                                                                        <th>Service Date Type</th>
                                                                        <th>Service Date</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let obj of updatedateList ;let i = index">
                                                                        <th>{{i+1}}</th>
                                                                        <td>{{obj.REQUEST_ID}}</td>
                                                                        <td>{{obj.REQUESTED_JSON.datetype}}</td>
                                                                        <td>{{obj.REQUESTED_JSON.date}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </form>

                        </fieldset>
                    </div>
                    
                </section>
            </div>
        </div>
    </div>

</div>
<script>
    function openmenu() {
        document.getElementById("Sidenav").style.width = "285px";
    }

    function closemenu() {
        document.getElementById("Sidenav").style.width = "0";
    }
</script>