<button class="btn btn-secondary ms-2" mat-raised-button color="secondary" routerLink="/emp-gendetail"> General
    Details</button>
<button class="btn btn-secondary ms-2" mat-raised-button color="secondary"
    routerLink="/employee-id-number">Identification</button>
    <button class="btn btn-secondary ms-2" mat-raised-button color="secondary" routerLink="/employee-date">Employee
        Dates</button>
        <button class="btn btn-secondary ms-2" mat-raised-button color="secondary" routerLink="/emp-address">Address</button>

<button class="btn btn-secondary ms-2" mat-raised-button color="secondary"
    routerLink="/employee-family-details">Family Details</button>

<button class="btn btn-secondary ms-2" mat-raised-button color="secondary" routerLink="/employee-bank-details">Bank
    Details</button>
<button class="btn btn-secondary ms-2" mat-raised-button color="secondary" routerLink="/employee-pay-entitlement">Pay
    Entitlement</button>
<button class="btn btn-secondary ms-2" mat-raised-button color="secondary"
    routerLink="/employee-documents">Documents</button>
