
<div class="content-wrapper">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 d-none d-sm-block p-0">
                <app-sidemenu class="sticky-sidemenu"></app-sidemenu>
            </div>
            <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
                
                <div class="row d-flex align-item-center mt-3">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <nav _ngcontent-usv-c162="" aria-label="breadcrumb">
                            <ol _ngcontent-usv-c162="" class="breadcrumb">
                                <li _ngcontent-usv-c162="" class="breadcrumb-item"><a 
                                        routerLink="/landing-page">Landing Page</a> </li>
                                <li _ngcontent-usv-c162="" class="breadcrumb-item"> <a  routerLink="/ESS-Dashboard"
                                        >Dashboard</a> </li>
                                <li _ngcontent-usv-c162="" aria-current="Inbox" aria-label="Current Page" class="breadcrumb-item active">
                                    Employee Address</li>
                            </ol>
                            
                        </nav>
                    </div>
                    <!-- <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 py-2">
                        <button class="btn btn-primary w-100" routerLink="/ESS-Dashboard" mat-raised-button color="primary">Back To Dashboard</button>
                    </div>     -->
                </div>
                <app-username></app-username>
                <section class="content viewbottom">
                    <div class="light-blue-bg p-4">            
                        <fieldset class="p-3">
                            <legend class="mb-3">Employee Address</legend>
                            <form  [formGroup]="EmpAddressForm">  
                                    <div class="row mt-2"> 
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                            <mat-form-field  class="w-100" appearance="outline">
                                            <mat-label>State</mat-label>
                                            <select matNativeControl required (change)='getDistrict(mySelectP.value)' id="" #mySelectP formControlName="State">
                                                <option *ngFor="let mst of Statedata" value={{mst.STATE_ID}} >
                                                    {{mst.ST_NAME_EN}}
                                                </option>
                                            </select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                            <mat-form-field  class="w-100" appearance="outline">
                                                <mat-label>District</mat-label>
                                                <select matNativeControl #mySelectD (change)='getAssembly(mySelectD.value)' id="districtCd" formControlName="District" required>
                                                    <option *ngFor="let mst of Districtdata" value={{mst.DIST_ID}} >
                                                        {{mst.DIST_NAME_EN}}
                                                    </option>
                                                </select>
                                                </mat-form-field>                                        
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">                                                      
                                                <div class="form-check p-0">                                                   
                                                    <label class="form-radio" for="exampleCheck2">  Area </label>
                                                    <mat-radio-group aria-label="Select an option">
                                                        <mat-radio-button value="R" (change)="onItemChange($event)" >Yes</mat-radio-button> &nbsp;
                                                        <mat-radio-button value="U" (change)="onItemChange($event)">NO</mat-radio-button>
                                                      </mat-radio-group>
                                                </div>
                                         
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            
                                            <mat-form-field  class="w-100" appearance="outline">
                                                <mat-label>Block / Muncipal </mat-label>
                                                <select matNativeControl (change)="getPanchayatWard($event)" id="BlockCitydata" required>
                                                    <option *ngFor="let mst of BlockCitydata" value={{mst.MUN_P_ID}} >
                                                        {{mst.MUN_P_NAME}}
                                                    </option>
                                                </select>
                                                </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                            <mat-form-field  class="w-100" appearance="outline">
                                                <mat-label>Panchayat / Ward </mat-label>
                                                <select matNativeControl (change)="getVillage($event)" required>
                                                    <option *ngFor="let mst of PanchayatWardata" value={{mst.WARD_ID}} >
                                                        {{mst.WARD_NAME}}
                                                    </option>
                                                </select>
                                                </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            
                                            <mat-form-field  class="w-100" appearance="outline">
                                                <mat-label>Village/ Street / Nagar</mat-label>
                                                <select matNativeControl required>
                                                    <option *ngFor="let mst of Villagedata" value={{mst.VILL_ID}} >
                                                        {{mst.VILL_NAME_EN}}
                                                    </option>
                                                </select>
                                                </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>House No</mat-label>
                                                <input matInput placeholder="Placeholder">
                                                <mat-hint>Hint</mat-hint>
                                              </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">            
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>PinCode </mat-label>
                                                <input matInput placeholder="Placeholder">
                                                <mat-hint>Hint</mat-hint>
                                              </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">            
                                            <mat-form-field  class="w-100" appearance="outline">
                                                <mat-label>Assembly</mat-label>
                                                <select matNativeControl required>
                                                    <option *ngFor="let mst of Assemblydata" value={{mst.VILL_ID}} >
                                                        {{mst.VILL_NAME_EN}}
                                                    </option>
                                                </select>
                                                </mat-form-field>
                                                </div>
                                    </div>
                                    <div class="row mt-2">   
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">            
                                                <div class="form-check p-0">
                                                    <input type="checkbox"id="exampleCheck2" (change)="onItemcheckChange()"> &nbsp;
                                                    <label class="form-check-label" for="exampleCheck2">  Same As Permanent Address</label>
                                                </div>                                            
                                        </div>
                                    </div>
                                    <div class="row mt-2"> 
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                            <mat-form-field  class="w-100" appearance="outline">
                                            <mat-label>State </mat-label>
                                            <select matNativeControl required formControlName="State">
                                                <option value="employeeType-1">Volvo</option>
                                                <option value="employeeType-2">Saab</option>
                                                <option value="employeeType-3">Mercedes</option>
                                                <option value="employeeType-4">Audi</option>
                                            </select>
                                            </mat-form-field>                                             
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                            <mat-form-field  class="w-100" appearance="outline">
                                                <mat-label>District</mat-label>
                                                <select matNativeControl required formControlName="District">
                                                    <option value="employeeType-1">Volvo</option>
                                                    <option value="employeeType-2">Saab</option>
                                                    <option value="employeeType-3">Mercedes</option>
                                                    <option value="employeeType-4">Audi</option>
                                                </select>
                                                </mat-form-field>
                                        
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            
                                           <mat-form-field  class="w-100" appearance="outline">
                                                <mat-label>Area </mat-label>
                                                <select matNativeControl required>
                                                    <option value="employeeType-1">Volvo</option>
                                                    <option value="employeeType-2">Saab</option>
                                                    <option value="employeeType-3">Mercedes</option>
                                                    <option value="employeeType-4">Audi</option>
                                                </select>
                                                </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            
                                            <mat-form-field  class="w-100" appearance="outline">
                                                <mat-label>Block / Muncipal </mat-label>
                                                <select matNativeControl required>
                                                    <option value="employeeType-1">Volvo</option>
                                                    <option value="employeeType-2">Saab</option>
                                                    <option value="employeeType-3">Mercedes</option>
                                                    <option value="employeeType-4">Audi</option>
                                                </select>
                                                </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                            <mat-form-field  class="w-100" appearance="outline">
                                                <mat-label>Panchayat / Ward </mat-label>
                                                <select matNativeControl required>
                                                    <option value="employeeType-1">Volvo</option>
                                                    <option value="employeeType-2">Saab</option>
                                                    <option value="employeeType-3">Mercedes</option>
                                                    <option value="employeeType-4">Audi</option>
                                                </select>
                                                </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            
                                            <mat-form-field  class="w-100" appearance="outline">
                                                <mat-label>Village/ Street / Nagar</mat-label>
                                                <select matNativeControl required>
                                                    <option value="employeeType-1">Volvo</option>
                                                    <option value="employeeType-2">Saab</option>
                                                    <option value="employeeType-3">Mercedes</option>
                                                    <option value="employeeType-4">Audi</option>
                                                </select>
                                                </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>House No</mat-label>
                                                <input matInput placeholder="Placeholder">
                                                <mat-hint>Hint</mat-hint>
                                              </mat-form-field>
                                        </div>
                                       
                                        
                                   
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>PinCode </mat-label>
                                                <input matInput placeholder="Placeholder">
                                                <mat-hint>Hint</mat-hint>
                                              </mat-form-field>
                                        </div>

                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            
                                            <mat-form-field  class="w-100" appearance="outline">
                                                <mat-label>Assembly</mat-label>
                                                <select matNativeControl required>
                                                    <option selected>Assembly</option>
                                                    <option value="1">Jaipur</option>
                                                    <option value="2">Sikar</option>
                                                    <option value="3">Churu</option>
                                                </select>
                                                </mat-form-field>
                                                </div>


                                    </div>
                                <div class="float-center">
                                    <button class="btn btn-warning ms-2" mat-raised-button color="secondary" routerLink="/employee-date">Back</button>
                                    <button class="btn btn-secondary ms-2" mat-raised-button color="secondary" routerLink="/employee-family-details">Next</button>
                                </div>


                                </form>
                        </fieldset>
                        <div class="row mt-2">
                          <div class="float-center">
                            <button class="btn btn-primary" mat-raised-button color="primary">Save</button>
                            <button class="btn btn-secondary ms-2" mat-raised-button color="secondary">Refresh</button>
                            <button class="btn btn-warning ms-2" mat-raised-button color="secondary">Modify</button>                         
                        </div>
                        </div>
                        <div class="row mt-2">                          
                        <div class="float-center">
                            <app-epm-general-button></app-epm-general-button>                         
                        </div>
                        </div>
                       
                        </div>
                </section>
            </div>
        </div>
    </div>
   
</div>
<script>
    function openmenu() {
      document.getElementById("Sidenav").style.width = "285px";
    }

    function closemenu() {
      document.getElementById("Sidenav").style.width = "0";
    }
  </script>
