.dashboardbtn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .thead-primary{
    background-color: #95c5f3d6;
   
   } 
   .thead-primary th:hover{
   color: #fff;
   
   }
   .viewbottom{
    padding-bottom: 180px;
  }