<app-header></app-header>


<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-12">
      <div class="loginfld">
      <fieldset>
        <div class="content">
          <h1>Employee Managment Information System</h1>
          <form>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Aavya Chobey</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-hint>Hint</mat-hint>
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline">
              <select matNativeControl required>
                <option value="employeeType-1">Employee Managment Information System(DDO)</option>

              </select>
            </mat-form-field>
            
            <!-- <button type="submit"  class="btn btn-warning login-form">Submit</button> -->
            <!-- <button class="btn btn-tertiary ms-2" mat-raised-button color="tertiary" ></button> -->
            <!-- <button class="btn btn-primary form-control" mat-raised-button color="primary" routerLink="/main">Submit</button> -->
            <button class="btn btn-secondary ms-2" mat-raised-button color="secondary" routerLink="/main">Submit</button>

          </form>
        </div>
      </fieldset>
    </div>
  </div>
  </div>
</div>


<app-footer></app-footer>