
                
<div class="content-wrapper">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 d-none d-sm-block p-0">
                <app-sidemenu class="sticky-sidemenu"></app-sidemenu>
            </div>
            <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
                
                <div class="row d-flex align-item-center ">

                    
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <nav _ngcontent-usv-c162="" aria-label="breadcrumb">
                            <ol _ngcontent-usv-c162="" class="breadcrumb">
                                <li _ngcontent-usv-c162="" class="breadcrumb-item"><a 
                                        routerLink="/landing-page">Landing Page</a> </li>
                                <li _ngcontent-usv-c162="" class="breadcrumb-item"> <a  routerLink="/ESS-Dashboard"
                                        >Dashboard</a> </li>
                                <li _ngcontent-usv-c162="" aria-current="Inbox" aria-label="Current Page" class="breadcrumb-item active">
                                    Employee Address</li>
                            </ol>
                            
                        </nav>
                    </div>
               
                </div>

                <app-username></app-username>

                <section class="content viewbottom">
                    <div class="light-blue-bg p-4">
                        <fieldset class="p-3">
                            <legend class="mb-3">Employee Address</legend>
                            <form [formGroup]="saveAddress">
                                <div class="row mt-2">
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>State</mat-label>
                                            <select matNativeControl #mySelectP formControlName="State"
                                            (change)='getDistrict(mySelectP.value)' id="">
                                                <option *ngFor="let mst of Statedata" value={{mst.STATE_ID}} >
                                                    {{mst.ST_NAME_EN}}
                                                </option>
                                            </select>
                                        </mat-form-field>
                                       
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>District </mat-label>
                                            <select matNativeControl    #mySelectD
                                            (change)='getAssembly(mySelectD.value)' id="districtCd" formControlName="District">                                            
                                                <option *ngFor="let mst of Districtdata" value={{mst.DIST_ID}} >
                                                    {{mst.DIST_NAME_EN}}
                                                </option>
                                            </select>
                                        </mat-form-field>


                                    </div>
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field #field floatLabel="always" class="w-100" appearance="outline"
                                        class="full-width radio-container">
                                        <mat-label>Area</mat-label>
                                        <input matInput style="display:none" required>
                                        <mat-radio-group #group class="flex-wrap" formControlName="area">
                                            <mat-radio-button name="area" id="areaR" value="R" (change)="onItemChange($event)">Rural</mat-radio-button>
                                            <mat-radio-button class="ml-5" name="area" id="areaU" value="U" (change)="onItemChange($event)">Urban</mat-radio-button>
                                        </mat-radio-group>
                                    </mat-form-field>
                                    </div>

                                 
                                </div>

                                <div class="row mt-2">
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Block / Muncipal</mat-label>
                                            <select matNativeControl (change)="getPanchayatWard($event)">
                                                <option *ngFor="let mst of BlockCitydata" value={{mst.MUN_P_ID}} >
                                                    {{mst.MUN_P_NAME}}
                                                </option>
                                            </select>
                                        </mat-form-field>
                                       
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Panchayat / Ward </mat-label>
                                            <select matNativeControl  (change)="getVillage($event)" id="">
                                                <option *ngFor="let mst of PanchayatWardata" value={{mst.GRAM_P_ID}} >
                                                    {{mst.GRAM_P_NM}}
                                                </option>
                                            </select>
                                        </mat-form-field>


                                    </div>
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Village/ Street / Nagar </mat-label>
                                            <select matNativeControl   id="">
                                                <option *ngFor="let mst of Villagedata" value={{mst.VILL_ID}} >
                                                    {{mst.VILL_NAME_EN}}
                                                </option>
                                            </select>
                                        </mat-form-field>


                                    </div>

                                 
                                </div>

                                <div class="row mt-2">
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>House No</mat-label>
                                            <input matInput  formControlName="HouseNo"  (keypress)="this.global.keyPressAlphaNumeric($event)" maxlength="20">                                      
                                        </mat-form-field>
                                     
                                       
                                    </div>

                                    
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Pin Code</mat-label>
                                            <input matInput formControlName="pincode" (keypress)="this.global. keyPressNumbers($event)" maxlength="6">                                      
                                        </mat-form-field>


                                    </div>
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Assembly</mat-label>
                                            <select matNativeControl   formControlName="Assembly"  id="">
                                                <option selected>Assembly</option>
                                                <option value="1">Jaipur</option>
                                                <option value="2">Sikar</option>
                                                <option value="3">Churu</option>
                                            </select>
                                        </mat-form-field>


                                    </div>

                                 
                                </div>
                                 

                                <legend class="mb-3 mt-4">Current Address</legend>
                               
                                <section class="example-section">
                                    <mat-checkbox class="example-margin"(click)="clickautodata()" ><b>Same As Permanent Address</b></mat-checkbox>
                                </section>
                                <div class="row mt-2">
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>State</mat-label>
                                            <select matNativeControl  #mySelect formControlName="State"
                                            (change)='getDistrict(mySelect.value)' id="state_p" >
                                                <option *ngFor="let mst of StatedataP" value={{mst.STATE_ID}} >
                                                    {{mst.ST_NAME_EN}}
                                                </option>
                                            </select>
                                        </mat-form-field>
                                       
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>District </mat-label>
                                            <select matNativeControl id="District_p" formControlName="District" >
                                                <option *ngFor="let mst of DistrictdataP" value={{mst.DIST_ID}} >
                                                    {{mst.DIST_NAME_EN}}
                                                </option>
                                            </select>
                                        </mat-form-field>


                                    </div>
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field #field floatLabel="always" class="w-100" appearance="outline"
                                        class="full-width radio-container">
                                        <mat-label>Area</mat-label>
                                        <input matInput style="display:none" required >
                                        <mat-radio-group #group class="flex-wrap" formControlName="area" id="area_p">
                                            <mat-radio-button  name="area" id="areaR" value="R" (change)="onItemChange($event)">Rural</mat-radio-button>
                                            <mat-radio-button  class="ml-5" name="area" id="areaU" value="U" (change)="onItemChange($event)">Urban</mat-radio-button>
                                        </mat-radio-group>
                                    </mat-form-field>


                                    </div>

                                 
                                </div>

                                <div class="row mt-2">
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Block / Muncipal</mat-label>
                                            <select matNativeControl (change)="getPanchayatWard($event)">
                                                <option *ngFor="let mst of BlockCitydata" value={{mst.MUN_P_ID}} >
                                                    {{mst.MUN_P_NAME}}
                                                </option>
                                            </select>
                                        </mat-form-field>
                                       
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Panchayat / Ward </mat-label>
                                            <select matNativeControl  (change)="getVillage($event)" id="">
                                                <option *ngFor="let mst of PanchayatWardata" value={{mst.GRAM_P_ID}} >
                                                    {{mst.GRAM_P_NM}}
                                                </option>
                                            </select>
                                        </mat-form-field>


                                    </div>
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Village/ Street / Nagar </mat-label>
                                            <select matNativeControl   id="">
                                                <option *ngFor="let mst of Villagedata" value={{mst.VILL_ID}} >
                                                    {{mst.VILL_NAME_EN}}
                                                </option>
                                            </select>
                                        </mat-form-field>


                                    </div>

                                 
                                </div>

                                <div class="row mt-2">
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>House No</mat-label>
                                            <input matInput  formControlName="HouseNo" id="HouseNo_p">                                      
                                        </mat-form-field>
                                     
                                       
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Pin Code</mat-label>
                                            <!-- <input formControlName="pincode"  /> -->
                                            <input matInput formControlName="pincode" type="number" name="pincode" id="pincode_p">                                      
                                        </mat-form-field>


                                    </div>
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Assembly</mat-label>
                                            <select matNativeControl formControlName="Assembly" id="Assembly_p">
                                                <option selected>Assembly</option>
                                                <option value="1">Jaipur</option>
                                                <option value="2">Sikar</option>
                                                <option value="3">Churu</option>
                                            </select>
                                        </mat-form-field>


                                    </div>

                                 
                                </div>
                                 


                              <div class="text-center mt-4">
                                <button class="btn btn-primary ms-2" mat-raised-button (click)=" OnSubmit()">Save</button>
                                <button class="btn btn-success ms-2" mat-raised-button> Next</button>
                              </div>

                                <!-- <button class="btn btn-danger ms-2" mat-raised-button> Cancel</button> -->
                            <app-emp-button></app-emp-button>
                            </form>
                        </fieldset>
                    </div>


                </section>
            </div>
        </div>
    </div>
</div>
