<div class="row mt-3">
    <div style=" text-align: center;">
        <button class="btn btn-primary" mat-raised-button color="primary" (click)="ComponetLoad('employee-details') ">Employee Personal Details</button>
        <button class="btn btn-primary" mat-raised-button color="primary" (click)="ComponetLoad('employeeIdentification')">Employee Identification</button>
        <button class="btn btn-primary" mat-raised-button color="primary" (click)="ComponetLoad('EmployeeService')">Employee-Service-Details</button>
        <button class="btn btn-primary" mat-raised-button color="primary" (click)="ComponetLoad('address')"> Address</button>
        <button class="btn btn-primary" mat-raised-button color="primary" (click)="ComponetLoad('familyDetails')">Family Details</button>
        <button class="btn btn-primary" mat-raised-button color="primary"(click)="ComponetLoad('bank-details')">Bank Details</button>
        <button class="btn btn-primary" mat-raised-button color="primary" (click)="ComponetLoad('pay-entitlement')">Pay Entitlement</button>
        <button class="btn btn-primary" mat-raised-button color="primary" (click)="ComponetLoad('document')">Documents</button>
        <button class="btn btn-primary" mat-raised-button color="primary" (click)="ComponetLoad('EmpDate')">Employee Dates</button>
    </div>
     
    </div>